<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>X3PL059fQ9anNHenr5C2Kg08i</string>
	<key>consumer_secret</key>
	<string>ASmau8s513O4OiqkTybhPHW9QT7d3sLnuznBUjPgMx0ZBQx3Dw</string>
</dict>
</plist>
